
.card {
    width: 30%;
    height: 100%;
    /* display: flex; */
    align-items: center;
	max-width: 330px;
	border-radius: 0.2em;
	padding: 1em;
	box-shadow: 5px 10px 19px #8888;
	transition: all 200ms;
	cursor: pointer;
	margin: 1.5%;
}
.card:hover {
	transform: translateY(-3px);
	box-shadow: 0px 13px 15px -10px #888;
}