
.card {
    width: 100%;
    /* height: 100%; */
	display: grid;
	grid-template-columns: 300px 700px;
    align-items: center;
	/* align-content: space-around; */
	max-width: 250px;
	border-radius: 0.2em;
	padding: 2em;
	box-shadow: 5px 10px 19px #8888;
	transition: all 200ms;
	cursor: pointer;
	margin: 0.7em -0.7em;
}
.card:hover {
	transform: translateY(-3px);
	box-shadow: 0px 13px 15px -10px #888;
}
.logo-image {
	height: 100%;
	width: 30%;
	/* margin-right: 2em; */
}
.card-right {
	margin-left: -12em;
}
Link {
	text-decoration: none;
}
h4, span {
	color: #555;
}