.container{
    position: relative;
    margin: auto;
    width: 46%;
    height: 100%;
    /* word-wrap: break-word; */
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-top: -50px;
    padding: 1.5em;
    box-sizing: border-box;
}

.leagues-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}


li {
    display: inline;
    list-style-type: none;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

li:hover {
    text-decoration: underline rgb(31, 31, 49);
}

.active {
    border-bottom: 2px solid rgb(31, 31, 49);
  }
  
