.leagues-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-top: -50px;
    padding: 20px;
}
